  <!--footer_start -->
  <footer class="bg-dark text-white">
    <div class="container py-3">
      <div class="row">
        <div class="col-lg-3">
          <h4>About E-shop</h4>
          <p>E-shop is an ecommerce website which is made in India</p>
          <ul>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h4>About</h4>
          <ul>
            <li><a href="../contact_us">Contact Us</a></li>
            <li><a href="about_us">About Us</a></li>
            <li><a href="careers">Careers</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h4>Find us</h4>
          <address>
            <i class="fas fa-map-marker-alt"></i> Prayagraj ( 211019 ) Uttar Pradesh, India
          </address>
          <strong><i class="fas fa-phone"></i></strong> +91- 7522828359<br>
          <strong><i class="fas fa-envelope"></i></strong> kapoorprakhar99@gmail.com<br>
        </div>
        <div class="col-lg-3">
          <h4>Newsletters</h4>
        </div>
      </div>
    </div>
    <div class="container-fluid text-center">
      &copy; 2020 All rights are reserved.
    </div>
  </footer>
  <!--footer_end -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  {% block custom_js %}
  {% load static %}
  <script src="{% static 'js/cart.js' %}"></script>
  {% endblock custom_js %}
  </body>
</html>