{% url 'homepage' as homepage %}
{% url 'fashion' as fashion %}
{% url 'mobiles' as mobiles %}
{% url 'electronics' as electronics %}
{% url 'books' as books %}
{% url 'cart' as cart %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <title>{% block title %} {% endblock title %} | E-shop</title>
    <!-- title bar icon link -->
    {% load static %}
        <link rel = "icon" href ="{% static 'title/images/eshop_logo_200x200.png' %}" type = "image/x-icon">
  </head>
<body>
{% block website_content %}
{% endblock website_content %}